<%= form_with(model: meal) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meal %>
    <%= form.text_field :meal, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :calories %>
    <%= form.number_field :calories, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fats %>
    <%= form.number_field :fats, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.number_field :protein, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :carbs %>
    <%= form.number_field :carbs, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :consumed %>
    <%= form.date_select :consumed, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
