<p id="notice"><%= notice %></p>

<h1>Meals</h1>

<table>
  <thead>
    <tr>
      <th>Meal</th>
      <th>Description</th>
      <th>Calories</th>
      <th>Fats</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Consumed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.meal %></td>
        <td><%= meal.description %></td>
        <td><%= meal.calories %></td>
        <td><%= meal.fats %></td>
        <td><%= meal.protein %></td>
        <td><%= meal.carbs %></td>
        <td><%= meal.consumed %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_meal_path %>
