<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @meal.meal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @meal.calories %>
</p>

<p>
  <strong>Fats:</strong>
  <%= @meal.fats %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @meal.protein %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @meal.carbs %>
</p>

<p>
  <strong>Consumed:</strong>
  <%= @meal.consumed %>
</p>

</table>

<%= link_to 'Confirm', edit_meal_path(@meal), class: "btn btn-primary"  %> |
<%= link_to 'Back', meals_path, class: "btn btn-secondary" %>
