<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meal Tracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/root/iteration2/app/javascript/packs/application.js', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <%= link_to "Home Page", root_path, class: "home" %>
          <%if user_signed_in? %>
          <p>Logged in as <strong><%= current_user.email %></strong> </p>
          <%=link_to 'Edit profile', edit_user_registration_path, class: "btn btn-primary" %>
          <%=link_to "Logout", destroy_user_session_path, class: "btn btn-primary", method: :delete %>
          <% else %>
          <%=link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
          <%=link_to "Login", new_user_session_path, class: "btn btn-primary" %>
          <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>

</html>